.ipynb_*/
*.dlog
*.dlog
*.exerinfo
ipynb-*-src.tar.gz
.*_html_file_collection
.DS_Store
tmp_preprocess__*
tmp_mako__*
tmp_exercises.html
*_tmp.html
.ipynb_checkpoints/
__pycache__/
exercises.solutions.html
extra_exercises.solutions.html
to_folk_uio_no.sh
